* {
    box-sizing: border-box;
}


.hot-sun{
    background-color: rgb(255, 196, 47);
    width: 450px;
    margin:auto;
    position:relative;
    top: 100px;
    aspect-ratio: 1;   
    border-radius: 100%;
}

/* Get the child DIV and animate it */
.circle {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 100%;

    /* Show where the children are, then hide */
    /* border: 2px solid grey; */

    /* stack each of the children on top of each other */
    position: absolute;

    background-color: yellow;
    opacity: .5;

    animation: pulse 3s ease-out infinite;
}

@keyframes pulse {
    100% {
        transform: scale(1.75);
        opacity: 0;
    }
}

/* Pick up the four DIV children using :nth-child pseudo class */

.circle:nth-child(1) {
    animation-delay: -0.5s;
}

.circle:nth-child(2) {
    animation-delay: -1s;
}

.circle:nth-child(3) {
    animation-delay: -1.5s;
}